  <table id="myTable" class="w3-table-all w3-card-4">
    <tr>
      <th><a href="#" onclick="sortTableName()">Site</a></th>
      <th><a href="#" onclick="sortTableDate()">Updated</a></th>
      <th>Action</th>
    </tr>
    {% for i in info.data %}
    <tr>
      <td>{{ i.name }}</td>
      <td>{{ i.updated_at | localized_date: '%Y-%m-%d', 'en' }}</td>
      <td><a href="#" onclick="document.getElementById({{forloop.index}}).style.display='block'"><i class="fa fa-lg fa-info"></i></a>&nbsp;<a href="https://{{ i.domains.first }}/locomotive" target="_blank"><i class="fa fa-lg fa-gear"></i></a>&nbsp;<a href="https://{{ i.domains.first }}" target="_blank"><i class="fa fa-lg fa-home"></i></a></td>
      {% include 'modal' with index: forloop.index0 %}
    </tr>
    {% endfor %}
  </table>
  <script type="text/javascript">
    function sortTableName() {
      var col, table, rows, switching, i, x, y, shouldSwitch;
      table = document.getElementById("myTable");
      switching = true;
      while (switching) {
        switching = false;
        rows = table.getElementsByTagName("TR");
        for (i = 1; i < (rows.length - 1); i++) {
          shouldSwitch = false;
          x = rows[i].getElementsByTagName("TD")[0];
          y = rows[i + 1].getElementsByTagName("TD")[0];
          if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
            shouldSwitch= true;
            break;
          }
        }
        if (shouldSwitch) {
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
        }
      }
    }
    function sortTableDate() {
      var col, table, rows, switching, i, x, y, shouldSwitch;
      table = document.getElementById("myTable");
      switching = true;
      while (switching) {
        switching = false;
        rows = table.getElementsByTagName("TR");
        for (i = 1; i < (rows.length - 1); i++) {
          shouldSwitch = false;
          x = rows[i].getElementsByTagName("TD")[1];
          y = rows[i + 1].getElementsByTagName("TD")[1];
          if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            shouldSwitch= true;
            break;
          }
        }
        if (shouldSwitch) {
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
        }
      }
    }
  </script>