  <table class="w3-table-all w3-card-4">
    <tr>
      <th>Site</th>
      <th>Updated</th>
      <th>Action</th>
    </tr>
    {% for i in info.data %}
    <tr>
      <td>{{ i.name }}</td>
      <td>{{ i.updated_at | localized_date: '%d %B %Y', 'en' }}</td>
      <td><a href="#" onclick="document.getElementById({{forloop.index}}).style.display='block'">Details</a>&nbsp;<a href="https://{{ i.domains.first }}" target="_blank">Visit</a>&nbsp;<a href="https://{{ i.domains.first }}/locomotive" target="_blank">Edit</a></td>
      {% include 'modal' with index: forloop.index0 %}
    </tr>
    {% endfor %}
  </table>